@use 'sass:map';
@use './variables' as variables;
@use './mixins' as mixins;

#minimap-grid {
  max-width: 300px;
  min-height: 300px;

  margin: 0 auto;

  display: grid;
  user-select: none;
  grid-template-columns: auto auto auto auto;
  background-color: #5e5c35;
  padding: 10px;

  & .minimap-cell {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);

    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }

    &.selected {
      border: 2px solid white;
    }

    div.tower {
      display: flex;
      position: absolute;
      width: 40%;
      height: 40%;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      color: white;

      align-content: center;
      justify-content: center;
      flex-direction: column;
    }

    & .army {
      &.red {
        @include mixins.army('red');
        left: 5%;
        top: 5%;
      }
      &.blue {
        @include mixins.army('blue');
        right: 5%;
        bottom: 5%;
      }
      &.green {
        @include mixins.army('green');
        left: 5%;
        bottom: 5%;
      }
      &.yellow {
        @include mixins.army('yellow');
        right: 5%;
        top: 5%;
      }
    }
  }
}

@each $name, $color in variables.$playerColors {
  .minimap-owner-#{$name} .tower {
    background-color: $color;
  }
}
